<!-- <ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title>Sign Up</ion-title>
    </ion-toolbar>
      
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <h1 size="large" style="padding-left:20px">Register Now</h1>

    <div style="padding-left:30px; padding-right: 30px;">
    <ion-card style="font-size: 15px;">
    <ion-input style="padding-left:20px" label="Email Address" [(ngModel)]="email" type="text" label-placement="floating" fill="solid"></ion-input>
    </ion-card>
    <ion-card style="font-size: 15px;">
      <ion-input style="padding-left:20px" label="Password" [(ngModel)]="password" type="password" label-placement="floating" fill="solid"></ion-input>
      </ion-card>
      <h6>Confirm password</h6>
    <ion-card style="font-size: 15px;">
      <ion-input style="padding-left:20px" label="Confirm Password" [(ngModel)]="confirmPass" type="password" label-placement="floating" fill="solid"></ion-input>
    </ion-card>
    </div>
    
    <ion-button style="padding-left:30px; padding-right: 30px;"  expand="block" (click)="signingUp()">SIGN UP</ion-button>
  
    <p style="text-align: center;">Already have an account? <a style="color: rgb(0, 47, 255);" href="login">Login</a></p>
  </ion-content>
</ion-content>


 -->
 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


  <ion-card class="login-card">

    <div class="ion-padding">
      <h1>Zyonaud</h1>
      <p>Register</p><br>

      <div>
        
          <ion-card-content>
            <ion-input label="Email" [(ngModel)]="email" type="text" label-placement="floating" fill="solid"></ion-input>
          </ion-card-content>
        
        
          <ion-card-content>
            <ion-input label="Password" [(ngModel)]="password" type="password" label-placement="floating" fill="solid"></ion-input>
          </ion-card-content>

          <ion-card-content>
            <ion-input label="Password" [(ngModel)]="confirmPass" type="Confirm Password" label-placement="floating" fill="solid"></ion-input>
          </ion-card-content>
       
      </div>

      <ion-button style="padding-left:30px; padding-right: 30px;"  expand="block" (click)="signingUp()">SIGN UP</ion-button>
  
    <p style="text-align: center;">Already have an account? <a style="color: rgb(0, 47, 255);" href="login">Login</a></p>
    </div>
  </ion-card>
</ion-content>
