



 
  


  <ion-content class="profile-content">
    <ion-menu contentId="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        Settings 
        <ion-range labelPlacement="start" label="Audio"><br>
        </ion-range>
        <ion-button expand="block" fill="outline" color="primary" (click)="logOut()">Sign out</ion-button>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Dashboard</ion-title>
        </ion-toolbar>
      </ion-header>
    </div><br><br><br>
    
  
  
  <ion-row class="user-details-wrapper">
    <ion-col size="6" class="user-image-wrapper">
      <ion-searchbar animated="true" placeholder="Search" ></ion-searchbar>

    </ion-col>
    <ion-col class="user-info-wrapper" size="12">
      <h3 style="font-weight: 500px;">JONEL G. PAYLANDE</h3>
      <h4> Brief description</h4>
      <p>An undergraduate student studying Information Technology in Pamantasan ng Lungsod ng Valenzuela</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="image-container">
        <ion-img
        src="https://scontent.fmnl25-3.fna.fbcdn.net/v/t39.30808-6/429765215_379274058247655_127788915799467258_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHMFeEG2bcSdyBdC9mc9hbrlpKJs-VTiiOWkomz5VOKI4y0fU11jJrcu4LOC8HWkkLc7NXAImvVlV7RHMR0LypQ&_nc_ohc=Jr1uzbUBuRYQ7kNvgFU4yha&_nc_ht=scontent.fmnl25-3.fna&oh=00_AfDG0UrSNeKHH8UnqBbz8KqHJMh8rENxHcYclJ5Ldb521A&oe=663555E0"
        alt="" style="height: 500px; width: 300px; margin-left: 450px;" 
      ></ion-img>
      </div>
      
    </ion-col>
    <ion-col size="12">
     
    </ion-col>
    <ion-col size="12">

      <ion-card style="padding-left: 20px;">
        <h4>Hobbies</h4>
      <p>
        I like listening to music, Imagining things that stays in my imagination, Drawing portraits traditionally and digitally
        , Reading books and comics, Watching movies and Series, Playing Mobile games like Genshin Impact, Solo Leveling Arise, Mobile Legends etc.
      </p>
      </ion-card>

      
    </ion-col>
    <ion-col size="12">

      <ion-card style="padding-left: 20px;">
        <h4>How I see myself in 5 years</h4>
      <p>
        I see myself as a professional IT specialist having published various books/comics and designed famous product design
      </p>
      </ion-card>

      
    </ion-col>
    <ion-col size="12">

      <ion-card style="padding-left: 20px;">
        <h4>Strength and Weaknesses</h4>
        <p>
          Creative - I often put efforts on things I do <br>
          Art - With Creative mind I apply it with utilization of pen and paper <br><br>

          Public Speaking - Im not comfortable with huge crowds <br>
          Procantination- I dont manage my time properly
        </p>
      </ion-card>

      
    </ion-col>
    <ion-col size="12">

      <ion-card style="padding-left: 20px;">
        <h4>Motto</h4>
        <p>
          Behind my smile theres a teeth
        </p>
      </ion-card>
      
    </ion-col>
    <ion-col size="12">


      <ion-card style="padding-left: 20px;">
        <h4>Love Language</h4>
        <p>
          Words of Affirmation- I like someone who is more expressive that will make me feel reassured and secur <br>
          Physical Touch - I value the sense of connectedness with someone
        </p>
      </ion-card>
      
    </ion-col>
    <ion-col size="12">

      <ion-card style="padding-left: 20px;">
        <h4>kung Pagkain Ako Ano Ako?</h4>
        <p>
          Sinigang, Kasi maasim charot! kasi addictive and bagay sayo pag nanlalamig kana joke
        </p>
      </ion-card>
      
    </ion-col>
    <ion-col size="12">

      <ion-card style="padding-left: 20px;">
        <h4>Pet Peeve</h4>
        <p>
          Repeating asking what I just told them <br>
          Slow Walkers
        </p>
      </ion-card>
      
    </ion-col>
    
    
  </ion-row>

  
</ion-content>


