<link rel="stylesheet" href="home.page.scss">
<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      My App
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="banner">
    <img src="images/ab.png" alt="">
  </div>

  <div class="content">
    <h2>Welcome to My App!</h2>
    <p>I am JONEL PAYLANDE and welcome to My App</p>
    <ion-button expand="block" routerLink="/details">Get Started</ion-button>
  </div>
</ion-content>
